/* || RESET */
html {
  box-sizing: border-box;
  font-size: 1rem;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hide;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 253, 231);
}

.heading {
  font-family: 'Sacramento', cursive;
}


/* || HEADER */
header {
  color: #F5F5F5;

  height: 100vh;

  background-image: url("images/dish-on-plate.jpg");
  background-size: cover;

  padding: calc(0.3rem + 3vmin);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -0.8rem;
}

.headline {
  font-size: calc(4.6rem + 4vmin);
  letter-spacing: 0.6rem;
  background-color: rgba(207,234,137,0.3);
  text-shadow: 1px 1px 8px rgba(43,56,9,1);
  border-bottom: 0.2em solid rgba(255,255,255,0.5);
  margin-bottom: 0;
}

@media (min-width: 450px) {
  .headline::after {
    content: "💡";
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .headline::after {
    content: "💡";
    position: absolute;
    left: 35%;
    top: 55%;
  }
}

.head-nav ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: calc(0.6rem + 5vmin);
  padding: 0;
  margin-top: 0.8rem;
  background-color: rgba(207, 234, 137, 0.1);
}

.head-nav ul li {
  padding: 0 0.6rem;
  text-shadow: 2px 2px 8px rgba(43, 56, 9, 1);
  transition: background-color 250ms ease-in-out;
}

.tab:active,
.tab:hover {
  background-color: rgba(107, 180, 44, 0.4);
}

.tab.current {
  background-color: rgba(58, 149, 28, 0.6);
}

.tab.current:active,
.tab.current:hover {
  background-color: rgba(58, 149, 28, 0.8);
}


/* || MAIN COPY*/
.copy-greeting {
  font-size: calc(1.2em + 4vw);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.6rem;
}

main, footer {
  margin: 1rem;
  margin-left: 0.4rem;
}

main {
  font-size: 1.1rem;
}

footer {
  margin-top: 2rem;
}
